/* основний колір тексту - #212121 */
/* другий колір тексту - #757575 */
/* білий текст та фон - #FFFFFF */
/* колір тексту футер - rgba(255, 255, 255, 0.6) */
/* колір акценту - #2196F3 */
/* колір фону 1 - #E5E5E5 */
/* колір фону 2 - #F5F4FA */
/* колір фону herofooter - #2F303A */
/* шрифти - Roboto, Raleway */

:root {
    --primary-text-color:#212121 ;
    --secondary-text-color: #757575;
    --white-color:#FFFFFF;
    --color-text-footer:rgba(255, 255, 255, 0.6);
    --accent-color:#2196F3;
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color:#F5F4FA;
    --hero-bg-color:#2F303A;
}

body {
    font-family: "Roboto",sans-serif;
    font-size: 14px;
}
.header {
    background-color: var(--white-color);
    
}
.list {
    list-style: none;
}
.bluelogo {
    color:var(--accent-color);
}
.logo {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    text-decoration: none;
    padding: 24px 93px 2px 215px;
    height: 31px;
}
.navigation-link {
    text-decoration: none;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;  
    color:var(--primary-text-color);
    margin: 50px;
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent-color);
}

.contactphone:hover,
.contactphone:focus {
    color: var(--accent-color);
}

.contactmail:hover,
.contactmail:focus {
    color: var(--accent-color)
}

.contactphone, 
.contactmail {
    text-decoration: none;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;  
    color:var(--secondary-text-color);
    margin: 50px;
}
.hero {
    background-image: url(../images/bg.jpg);
    padding: 200px 452px 200px 452px;
    background-size: auto;
}

.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.reserv {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    margin: 0 auto;
}
.navigation {
    display: flex;
    height: 80px;
    text-align: center;
}
.benefits-title {
    color: var(--primary-text-color);
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.benefits-text {
    color: var(--secondary-text-color);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.section-title {
    color:var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team {
    background-color: var(--secondary-bg-color);
}
.title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
}
.text {
    color:var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
}
.footer {
    background-color: var(--hero-bg-color);
}
.addresslink-footer {
    color: var(--white-color);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.mail-footer, .phone-footer {
    color:var(--color-text-footer);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
}
address {
    font-style: normal;
}
.logofooter {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color:var(--white-color);
    text-decoration: none;
}
.phone-footer:hover,
.phone-footer:focus {
    color: var(--accent-color);
}
.mail-footer:hover,
.mail-footer:focus {
    color: var(--accent-color);
}
.aboutusgallery {
    display: flex;
    justify-content: center;
}
.aboutusimg {
    margin: 30px;
}
.ourbenefits {
    display: flex;
    justify-content: center;
}
.container{
    flex-basis: 270px;
    margin: 30px;
}
.teamgallery {
    display: flex;
    justify-content: center;
    padding: 25px 215px 94px 215px;
}
.teamcontainer {
    flex-basis: 270px;
    margin: 30px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
.sectionteam-title {
    color:var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 94px 668px 25px 668px;
    margin: 0px;
}
.contact {
    display: flex;
    padding: 32px 215px 32px 150px;
    margin: 0px;
}
.footer {
    padding: 60px 1154px 60px 215px;
}
